<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:background="@android:color/white"
        android:id="@+id/linearLayout1">

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="50sp"
            android:paddingVertical="5sp"
            android:paddingHorizontal="10sp"
            android:orientation="horizontal"
            android:gravity="center"
            android:background="@color/colorPrimary">


            <Space
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_weight="1"/>

            <ImageButton
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:layout_gravity="right"
                android:scaleType="centerInside"
                android:adjustViewBounds="true"
                android:src="@drawable/userNotLog"
                android:background="@color/mtrl_btn_transparent_bg_color"
                android:id="@+id/perfil"/>

        </LinearLayout>

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:layout_weight="1"
            android:paddingLeft="75px"
            android:paddingRight="75px"
            android:gravity="center_vertical"
            android:orientation="vertical">

            <Button
                android:text="Nueva Partida"
                android:textColor="@android:color/black"
                android:textStyle="bold"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="@color/colorPrimary"
            
                android:id="@+id/partidaB" />

        </LinearLayout>

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="50dp"
            android:paddingVertical="1dp"
            android:orientation="horizontal"
            android:gravity="center"
            android:background="@color/colorPrimary">

            <ImageView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:scaleType="centerInside"
                android:adjustViewBounds="true"
                android:src="@drawable/icon"/>
            
        </LinearLayout>

    </LinearLayout>


</RelativeLayout>